<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% if page.title %} {{ page.title }} | {% endif %} Mark Michon: Designer &amp; Front-end Developer</title>
    <meta name="description" content="Designer and Front-end Web Developer based out of Orlando, FL.">
    <meta name="author" content="Mark Michon">

    <!-- Opengraph Meta -->
    <meta property="og:type" content="article">
<!--     <meta property="og:url" content="{% if page.url %} {{ page.url }} {% else %} http://markmichon.com {% endif %}"> -->
    <meta property="og:site_name" content="Mark Michon: Designer &amp; Front-end Developer">
    <!-- <meta property="og:image" content="URL to an image"> -->
    <meta property="og:title" content="{% if page.title %} {{ page.title }} | {% endif %} Mark Michon: Designer &amp; Front-end Developer">
    <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle }} {% endif %}">
    <meta property="article:author" content="http://markmichon.com/about/">
    <meta property="article:tag" content="Design, Front-end Development, Web Design">


    <link rel=”author” href=”https://plus.google.com/103117307799452974340“/>
    <link rel="stylesheet" href="/assets/css/markmichon.min.css"/>
    <link rel="stylesheet" href="/assets/css/github.css"/>
    <script type="text/javascript" src="//use.typekit.net/njb4bfp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>